@model Category
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr />
        </div>
        <div>
            <label asp-for="CategoryID"></label>
            <input asp-for="CategoryID" class="form-control" />
        </div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div>
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
</form>